# Experiments

In [1]:
import pandas as pd
from modules.functions import run_linear_regression
from modules.functions import run_polynomial_regression
from modules.functions import run_random_forest

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
# import csv file with the proper dtypes
dtype_dict = {
 'branded_code_share': 'string',
 'mkt_carrier': 'string',
 'mkt_carrier_fl_num': 'string',
 'op_unique_carrier': 'string',
 'tail_num': 'string',
 'op_carrier_fl_num': 'string',
 'origin_airport_id': 'string',
 'origin': 'string',
 'origin_city_name': 'string',
 'dest_airport_id': 'string',
 'dest': 'string',
 'dest_city_name': 'string',
 'crs_dep_time': 'int64',
 'dep_time': 'int64',
 'dep_delay': 'int64',
 'taxi_out': 'int64',
 'wheels_off': 'int64',
 'wheels_on': 'int64',
 'taxi_in': 'int64',
 'crs_arr_time': 'int64',
 'arr_time': 'int64',
 'arr_delay': 'int64',
 'crs_elapsed_time': 'int64',
 'actual_elapsed_time': 'int64',
 'air_time': 'int64',
 'distance': 'int64'}
df = pd.read_csv("../LHL_Midterm_Project_Predicting_Flight_Delays/data/ransmpl_clean.csv", parse_dates=[0], dtype=dtype_dict)

In [4]:
df.head()

,fl_date,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,crs_elapsed_time,actual_elapsed_time,air_time,distance
0,2018-03-07,AA,AA,465,AA,N200UU,465,14107,PHX,"Phoenix, AZ",14679,SAN,"San Diego, CA",835,833,-2,13,846,838,2,851,840,-11,76,67,52,304
1,2018-03-07,AA,AA,591,AA,N833AW,591,11057,CLT,"Charlotte, NC",11278,DCA,"Washington, DC",1431,1537,66,16,1553,1648,3,1559,1651,52,88,74,55,331
2,2018-03-07,AA,AA,600,AA,N151UW,600,11697,FLL,"Fort Lauderdale, FL",11057,CLT,"Charlotte, NC",603,557,-6,18,615,746,19,809,805,-4,126,128,91,632
3,2018-03-07,AA,AA,1805,AA,N924US,1805,11057,CLT,"Charlotte, NC",10721,BOS,"Boston, MA",1135,1129,-6,11,1140,1312,12,1352,1324,-28,137,115,92,728
4,2018-03-07,AA,AA,2615,AA,N945NN,2615,11057,CLT,"Charlotte, NC",15370,TUL,"Tulsa, OK",1820,1812,-8,11,1823,1936,6,2002,1942,-20,162,150,133,842

# Select Features

In [8]:
y = df["arr_delay"]

X1 = df[["air_time", "distance"]] # current best

# Test Models

In [10]:
# Linear Regression
y_pred, r2_train, r2_test = run_linear_regression(X1, y)
print(r2_train, r2_test)

0.009710529128371004 0.009636294113134936

In [11]:
# Polynomial Regression
for degree in range(2,10):
    y_pred, r2_train, r2_test = run_polynomial_regression(X1, y, degree)

---Results---
degree = 2
Train score = 0.01193214667941056
Test score = 0.012966860883619313
---Results---
degree = 3
Train score = 0.013852948914906182
Test score = 0.012109875421535743
---Results---
degree = 4
Train score = 0.014816078875901195
Test score = 0.014208176091757063
---Results---
degree = 5
Train score = 0.016621213963359582
Test score = -0.06878308265903055
---Results---
degree = 6
Train score = 0.015295202832291355
Test score = 0.012503510367679715
---Results---
degree = 7
Train score = 0.008537087655158482
Test score = -0.8471717580951865
---Results---
degree = 8
Train score = 0.007008002725310547
Test score = -49.0448026547228
---Results---
degree = 9
Train score = 0.00434943981627145
Test score = -0.13245374822094913

In [13]:
# Random Forest
y_pred, r2_train, r2_test = run_random_forest(X1, y)
print(r2_train, r2_test)

train score = 0.0866182496961514
test score = 0.0030412916859056116
0.0866182496961514 0.0030412916859056116