# Accessing the Database

In [1]:
import psycopg2
import pandas as pd

In [2]:
# ensure all columns are displayed when viewing a pandas dataframe
pd.set_option('display.max_columns', None)

In [3]:
def make_csv(query, filename):
    """ I think it only works for 'SELECT *' statements. """
    # Creating a connection to the database
    print("creating conecction...")
    con = psycopg2.connect(database="mid_term_project", 
                           user="lhl_student", 
                           password="lhl_student", 
                           host="mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com", 
                           port="5432")


    # creating a cursor object
    cur = con.cursor()
    # running an sql query
    print("running query...")
    cur.execute(query)
    # Storing the result
    rows = cur.fetchall()
    cols = [desc[0] for desc in cur.description]

    con.close()

    # writing the csv file
    print("writing file...")
    df = pd.DataFrame(rows, columns=cols)
    df.to_csv(filename, index=False)
    
    print("done")

In [5]:
make_csv("SELECT * FROM flights_test", "flights_test.csv")

creating conecction...
running query...
writing file...
done

In [33]:
make_csv("SELECT * FROM flights LIMIT 100", "test_csv4.csv")

creating conecction...
running query...
writing file...
done

In [36]:
make_csv("SELECT * FROM flights WHERE fl_date SIMILAR TO '201[8-9]-01-0[1-7]'", "flights_week1_jan.csv")

creating conecction...
running query...
writing file...
done

In [ ]:
### This query pulls a random sample
"SELECT * FROM flights WHERE random() < 0.0001"